<div class="container articles">
  <h1 class="page_header">You'r articles</h1>
  <ul class="list-article">
    {{#if articles}}
      {{#each articles}}
        <li>
          <header> {{title}}</header>
          <main>{{content}}</main>
          <footer>
            <a class="comments_btn" href="/comments/{{_id}}">Comments</a>
            <a class="comments_btn" href="/edit/{{_id}}">Edit</a>
            <a
              class="comments_btn delete"
              href="/edit/delete/{{_id}}"
            >Delete</a>
          </footer>
        </li>
      {{/each}}
    {{else}}
      <p>You don't have any articles yet </p>
    {{/if}}
  </ul>
</div>